body {
    background-color: #ffffff;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.btn_primary{
	font-family: verdana;
    font-size: 20px;
    background-color: #400080;
    color: white;
}

.title{
	font-family: verdana;
    font-size: 30px;
    color: blue;
    
}

.label_1{
	font-family: verdana;
    font-size: 20px;
    color: blue;
    
}

.input_1{
	font-family: verdana;
    font-size: 15px;
    color: black;    
}

.label_result{
	font-family: verdana;
    font-size: 20px;
    color: #12268A;
    
}