<form>
 <div>
 	<span class='label_1'>
		Por favor ingrese los datos para calcular la matriz
	</span>
 	<div>
 	
 		<textarea  id='testCase' name='testCase' rows="10" cols="50"
       			ng-model='testCase' type='textarea' 	
       		    ng-true-value="true" ng-false-value="false" class='label_1'/> 	
 	</div>
 	
 	<div>		
		<button class="btn_primary" ng-click="calcularMatriz()">Validar</button>
	</div>	
	</br>
	<div>
		<span class="label_result" ng-show="result !=null">
 			El resultado es:
 		</span><b></b>
 		<table>
 			<tr ng-repeat="pr in result track by $index">
 				<td>{{pr}}</td>
 			</tr>
 		</table>
 		
	</div> 	
 </div>

</form>